*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.container{
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-right: 350px;
    padding-left: 350px;
}

.container h1{
     text-align: center;
     margin: 20px 0;
     margin-bottom: 20px;
     font-size: 3rem;
}

.Gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   
}

.card{
    width: 30%;
    margin-bottom: 30px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.card img{
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
    object-fit: cover;
    box-shadow: 0 0 20px #333;
}

.card:hover{
   
    transform: scale(1.3);
    filter: drop-shadow(0 0 10px #333);
    transition: 0.5s;
}
.card:hover img{
    filter: grayscale(0%);
    

}

figcaption{
    position: absolute;
    padding: 25px;
    width: 100%;
    height: 20%;
    bottom: 0;
    right: 10px;
    top: 65px;
    
    font-size: 16px;
    color: rgb(240, 236, 236);
    opacity: 0;
    background:liner-gradient(rgb(21, 13, 13));
    transition: 0.3s;
}

.card:hover figcaption{
    opacity: 1;
    transform: scale(1.03);
}

